//mixins
@mixin btnPaypal()
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 0 2rem
  background: $paypal-button-color
  border-radius: 1.5rem
  cursor: pointer
  border: none
  color: $white
  font-family: $font-heebo
  font-weight: 700
  font-size: 1.25rem
  line-height: 3rem
  &:hover
    background: rgba($paypal-button-color, .8)
  @media screen and (max-width: $laptopS)
    font-size: 1rem

@mixin paddingSection($px, $py)
  padding: $py $px
  @media screen and (max-width: $laptopM)
    padding: $py 3rem
  @media screen and (max-width: $laptopS)
    padding: $py 1rem