body
  font-family: $font-heebo
  margin: 0

button
  border: none

.wrapper
  padding: 1.5rem 0

.category-header
  font-weight: 500
  font-size: clamp(1.5rem, 2.5vw, 2rem)
  line-height: 3rem

.active-select
  border: .5rem solid $paypal-button-color
  border-radius: 1.5rem