.pets__item
  position: relative
.pets__item__badge
  position: absolute
  left: 0.69%
  right: 28.12%
  top: 67.5%
  bottom: 20%
  background: $paypal-button-color
  border-radius: 1.5rem
  color: $white
  font-weight: 500
  font-size: 1rem
  line-height: 2.5rem
.pets__item__figure
  margin: 0
  position: relative
  &:hover
    .pets__item__img
      opacity: .6
    .pets__item__figcaption
      display: block
  .pets__item__figcaption
    position: absolute
    top: 15%
    display: none
    padding: 2.5rem
    font-weight: 500
    line-height: 1.5rem
    font-size: 18px
    color: $nav-text-color
  .pets__item__img
    border-radius: 50%
.pets__item__name
  font-weight: 500
  font-size: 1rem
  line-height: 1rem
.pets__item--addPet
  background: $paypal-button-color
  width: 282px
  height: 282px
  border-radius: 50%
  &:hover
    cursor: pointer
    .pets__item__img , .pets__item__name
      opacity: .6
  .pets__item__name
    color: $white

.pets
  display: flex
  flex-direction: column
  align-items: center
  @include paddingSection(6rem, 2.5rem)
  .pets__wrapper
    display: flex
    flex-wrap: wrap
    gap: 3rem 1.5rem
    @media screen and (max-width: $laptopM)
      justify-content: center
    .pets__item
      display: flex
      flex-direction: column
      justify-content: center
      .pets__item__badge
        text-align: center
      .pets__item__name
        align-self: center
    .pets__item--addPet
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

.pets--grid
  display: grid
  text-align: center
  @include paddingSection(6rem, 2.5rem)
  .pets--grid__wrapper
    display: grid
    grid-template-columns: repeat(auto-fill, 288px)
    gap: 3rem 1.5rem
    @media screen and (max-width: $laptopM)
      justify-content: center
    .pets__item
      position: relative
    .pets__item--addPet
      display: grid
      justify-items: center
      .pets__item__img
        align-self: end

.male
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #BEF2EB 100%)

.female
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FFD9F0 100%)